# Python
server/.venv/
__pycache__/
*.py[cod]
server/.env

# Flutter
client/.dart_tool/
client/build/
client/.flutter-plugins
client/.flutter-plugins-dependencies

# OS / editor
.DS_Store
.idea/
.vscode/
